body {
    background: url("../images/background.jpg");
}

img {
    max-height: 150px;
}

form,
.showBtn {
    background-color: #474747;
    color: white;
}

form {
    padding: 10px;
}

#newSwanson {
    color: black;
}

.ratingStyle {
    color: white;
    background-color: black;
}

#addSwanson {
    background-color: white;
    color: #474747;
    border: none;
}

input {
    margin: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#SwansonButton {
    margin: 10px;
}

.showBtn {
    padding: 6px;
    margin: 3px;
}

#giphyLogo {
    margin: 20px;
}